.chart{
    flex: 4;
    box-shadow: 4px 4px 19px -3px rgba(139,129,129,0.68);
    -webkit-box-shadow: 4px 4px 19px -3px rgba(139,129,129,0.68);
    border-radius: 10px;
    padding: 25px;
    height: 400px;
    color: gray;

    .title{
        margin-bottom: 20px;
    }
    
}