.navbar {
    height: 50px;
    border-bottom: 0.5px solid lightgray;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper {
        width: 100%;
        display: flex;
        padding: 20px;
        align-items: center;
        justify-content: space-between;

        .search {
            display: flex;
            align-items: center;
            padding: 3px;

            input {
                border: none;
                outline: none;
                background: transparent;

                &::placeholder {
                    font-size: 12px;
                }
            }
        }

        .items {
            display: flex;
            align-items: right;
            margin-left: auto;

            .item {
                display: flex;
                align-items: center;
                margin-right: 20px;

                .icon {
                    font-size: 20px;
                }

                .avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        height: 45px;

        .wrapper {
            padding: 15px;

            .search {
                input {
                    font-size: 12px;
                }
            }

            .items {
                .item {
                    margin-right: 15px;

                    .icon {
                        font-size: 18px;
                    }

                    .avatar {
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .navbar {
        height: 40px;

        .wrapper {
            padding: 10px;
            font-size: 12px; 

            .search {
                width: 50%; 
                padding: 2px;

                input {
                    font-size: 11px;
                }
            }

            .items {
                .item {
                    margin-right: 10px; 

                    .icon {
                        font-size: 16px;
                    }

                    .avatar {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }
}
