/* .portstable {
    box-shadow: 4px 4px 19px -3px rgba(139,129,129,0.68);
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 20px; // Adds spacing below the table
  } */

  /* .portstable {
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  } */
  